@media screen and (max-width: 1280px){
    #auth_login{
        width:400px;
        height:340px;
    }
    #auth_login_img{
        width:30%;
    }
    .auth_login_user,.auth_login_pass{
        margin-top:20px;
    }
}

@media screen and (max-width: 480px){
    #auth_login{
        width:300px;
        height:350px;
    }
    #auth_login_img{
        width:20%;
    }
    .auth_login_submit{
        margin-top:50px;
    }
}

#auth_login{
    border-radius: 5px;
}

.login-shadow{
    box-shadow: 0px 2px 5px #888888;
}

.img-shadow{
    box-shadow: 0px 2px 5px #888888;
}

.img-radius{
    border-radius: 15px;
}

.e-hidden{
    display:none;
}

.q-name{
    text-align:center;
}

.q-question{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #888888;
    display: inline-flex;
    background-color: #1E90FF;
    color: white;
}

.q-time{
    color:#777;
}

span.q-time{
    color:#aaa;
}

.q-answer{
    padding: 5px 10px 5px 10px;
    background-color: #ccc;
    border-radius:5px;
    box-shadow: 0px 2px 5px #888888;
    text-align:left;
    display:inline-block;
    cursor:pointer;
}

.q-edit{
    //display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: 0px 2px 5px #888888;
    cursor:pointer;
    display:inline-block;
}

.r-box{
    background-color: #666;
    border-radius:10px;
    box-shadow: 0px 2px 5px #888888;
}

.r-reply{
    text-align:center;margin:0px 0px 0px 10px;
    padding:15px 0px 15px 0px;
    border-radius:10px;
    box-shadow: 0px 2px 5px #888888;
}

.r-img{
    width:100%;
    border:2px solid #555;
}

.r-name{
    color:#eee;
}

.r-question{
    margin:5px 0px 0px 0px;
    color:#ddd;
}

.no-p{
    margin:0px;
    padding:0px;
}

.rType-question{
    margin-bottom:5px;
}